services:
  app:
    build: ./nextjs-app
    container_name: tg-finance-nextjs
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - BOT_TOKEN=${BOT_TOKEN}
      - WEBAPP_URL=${WEBAPP_URL}
      - DATA_FILE=/app/data/data.json
    ports:
      - "80:3000"
    volumes:
      - ./data:/app/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
